{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    // Strict mode
    "strict": [
      1,
      "never"
    ],
    // Code style
    "indent": [
      1,
      1
    ],
    "quotes": [
      1,
      "single"
    ]
  }
}
